<div layout="row" layout-align="center center" >

	<md-card>
		<md-toolbar class="md-hue-2">
	      <div class="md-toolbar-tools">	
	        <h2 flex md-truncate>Login</h2>
	      </div>
	    </md-toolbar>

		<form name="userForm">				
			<md-card-content layout-align="space-between">
				

				<div layout-gt-sm="row">

					<md-input-container class="md-block" flex-gt-sm>
						<label>Email</label>
						<input name="email" ng-model="user.email"/>
					</md-input-container>

				</div>

				<div layout-gt-sm="row">
					
					<md-input-container class="md-block" flex-gt-sm>
						<label>Phone Number</label>
						<input name="phone" ng-model="user.phone"/>
					</md-input-container>

				</div>

		    	<div layout-gt-sm="column">
		    		<md-button class="md-raised md-primary-700">Acceder Google</md-button>
		    	</div>
		    	<div layout-gt-sm="column">
		    		<md-button class="md-raised md-primary" ui-sref="dashboard.notas">Acceder con Twitter</md-button>
		    	</div>

        	</md-card-content>	
			<md-divider></md-divider>

			<md-card-actions layout="row" layout-align="space-around end">
			    <md-button md-no-ink class="md-primary">Recupera Contraseña ?</md-button>
			    
			    
			    <md-button md-no-ink class="md-primary md-no-sticky">Registrarse</md-button>
			    
			    

		    </md-card-actions>
		</form>		        

	</md-card>
 


  </div>