<div layout="row">
    <div flex="50" flex-offset="25">

        <div layout="column" layout-align="center center">
             <md-subheader class="md-no-sticky">Full Stack JavaScript / Backend Python</md-subheader>
        </div>

        <md-card>
          <md-card-title layout="row" layout-align="space-around center">
            <md-card-title-media flex="20">
              <div class="md-media-sm card-media">
                <img class="user-avatar" height="48" width="48" ng-src="../../assets/img/black.png" alt="avatar"
                    ng-mouseover="btnVer = !btnVer">
              </div>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-subhead description" ng-mouseover="btnVer = !btnVer">
                    Desarrollo frontend en HTML5, CSS3 y JavaScript y con su ayuda de sus Frameworks, me encanta
                    programar APIs en Python para crear apps en Android. todo ello correctamente versionado utilizando Git.
              </span><!-- solo permitir la cantidad de caracteres de 196 -->
            </md-card-title-text>
          </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button codea_social_google_plus" aria-label="Settings"> 
                    <span class="zmdi zmdi-google-plus zmdi-hc-lg">
                </md-button>
                <md-button class="md-icon-button codea_social_github" aria-label="Settings"> 
                    <span class="zmdi zmdi-github zmdi-hc-lg"></span>
                </md-button>
                <md-button class="md-icon-button codea_social_twitter" aria-label="Settings"> 
                    <span class="zmdi zmdi-twitter zmdi-hc-lg"></span>
                </md-button>
                <md-button class="md-icon-button codea_social_stack" aria-label="Settings">
                    <span class="zmdi zmdi-stackoverflow zmdi-hc-lg"></span>
                </md-button>
                <md-button ng-show="btnVer" class="md-fab md-mini edi-button-codea md-primary" aria-label="Eat cake">
                    <md-icon md-font-set="material-icons"> edit </md-icon>
                </md-button>
            </md-card-actions>

        </md-card>

    </div>
    <div flex></div>

</div>


<div layout="row">
    
    <div flex="70" flex-offset="15">

        <div layout="row">

            
            <div flex="50">
                <div layout="row" layout-align="center center">
                    <md-subheader class="md-no-sticky">Educacion</md-subheader>
                </div>

                <md-card>
                  <md-card-title>
                    <md-card-title-text>
                        <span>
                            Universidad Tecnológica de la Región Norte de Guerrero, Unidad Académica de la Región de la Montaña
                        </span>
                        <div layout="row">
                           
                            <span flex></span>
                            <span class="md-subhead"> 12 mayo 2016 </span>
                        </div>
                    </md-card-title-text>
                  </md-card-title>
                </md-card>

                <md-card>
                  <md-card-title>
                    <md-card-title-text>
                      <span>
                           Universidad Tecnológica de la Región Norte de Guerrero, Unidad Académica de la Región de la Montaña
                      </span>

                      <div layout="row">
                           
                            <span flex></span>
                            <span class="md-subhead"> 12 mayo 2016 </span>
                        </div> 
                    </md-card-title-text>
                  </md-card-title>
                </md-card>                

            </div>         
                

            
            <div flex="50">
                <div layout="row" layout-align="center center">
                    <md-subheader class="md-no-sticky">Proyectos</md-subheader>
                </div>

                <md-list class="md-dense" flex>
                    <md-list-item class="md-3-line md-long-text" ng-click="null">
                         <img class="md-avatar user-avatar" height="48" width="48" ng-src="../../assets/img/django.png" alt="avatar">
                        <div class="md-list-item-text" layout="column">
                        <h3>Titulo del Proyecto</h3>
                        <h4>text 2</h4>
                        <p>Descripcion del proyecto siempre y cuando no se refuiera alos de la plataforma</p>
                        </div>
                        <md-divider md-inset></md-divider>
                    </md-list-item>


                    <md-list-item class="md-3-line md-long-text" ng-click="null">
                         <img class="md-avatar user-avatar" height="48" width="48" ng-src="../../assets/img/python.png" alt="avatar">
                        <div class="md-list-item-text" layout="column">
                        <h3>Titulo del Proyecto</h3>
                        <h4>text 2</h4>
                        <p>Descripcion del proyecto siempre y cuando no se refuiera alos de la plataforma</p>
                        <span flex></span>
                        </div>
                        <md-divider md-inset></md-divider> <!-- si ya es el ultimo ya no locoloca ng-if="!$last" -->
                    </md-list-item>


                    <md-list-item class="md-3-line md-long-text" ng-click="null">
                         <img class="md-avatar user-avatar" height="48" width="48" ng-src="../../assets/img/js.png" alt="avatar">
                        <div class="md-list-item-text" layout="column">
                        <h3>Titulo del Proyecto</h3>
                        <h4>text 2</h4>
                        <p>Descripcion del proyecto siempre y cuando no se refuiera alos de la plataforma</p>
                        </div>
                    </md-list-item>

                </md-list>

            </div>
                
            
            
        </div>

    </div>
    <div flex></div>
    
</div>


<div layout="row">
    <div flex="50" flex-offset="25">

        <div layout="column" layout-align="center center">
             <md-subheader class="md-no-sticky">Habilidades y experiencias</md-subheader>

            <md-chips>
              <md-chip>Python</md-chip>
              <md-chip>Django</md-chip>
              <md-chip>JavaScript</md-chip>
              <md-chip>NodeJS</md-chip>
              <md-chip>AngularJs</md-chip>
              <md-chip>Sublime Text</md-chip>
              <md-chip>Linux</md-chip>
              <md-chip>Gulp</md-chip>
            </md-chips>

        </div>

        

    </div>
    <div flex></div>

</div>