<md-dialog aria-label="" flex="30" layout="column">
  <form ng-cloak ng-submit="ctrlLabel.addLabel()">

    <md-dialog-content>
      <div class="md-dialog-content">

        <div ng-cloak layout="column" layout-align="space-between none">

            <md-input-container>
                <label for="nombre">Nombre</label>
                <input id="nombre" ng-model="ctrlLabel.label.title" type="text" md-autofocus>
            </md-input-container>

            <md-input-container>
                <label for="descripcion">Descripcion (opcional)</label>
                <input id="descripcion" ng-model="ctrlLabel.label.resume" type="text">
            </md-input-container>
          
        </div>
        
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="ctrlLabel.cancel()">
       cancelar
      </md-button>
      <md-button type="submit">
        Crear
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>