<div layout="column" ng-cloak layout-fill >    

    <div layout="row" flex>
        <!-- side nav -->
        <md-sidenav class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md') && !mostar"
                md-whiteframe="4"> <!-- para que al dar click fuera del nav no se cierre md-disable-backdrop=""-->

            <md-toolbar class="md-tall md-hue-3">

                <div layout="column" class="md-toolbar-tools-bottom inset">
                    <!--<user-avatar></user-avatar>-->
                    <img class="user-avatar" height="64" width="64" display="block"  ng-src="../../assets/img/black.png" alt="avatar">
                   	<span class="md-subhead">Jorge Luis Calleja</span>

                </div>

                <span flex="5"></span>

                <div class="md-toolbar-tools-bottom inset" layout="row" layout-align="space-between center">                  
                    <div>
                    	<span class="md-subhead">codea.jorge@gmail.com</span>
                    </div>
                    <div>
                    	<md-menu>

	                        <md-button class="md-icon-button" aria-label="Settings" ng-click="ctrlMain.openMenu($mdMenu, $event)"> 
	                            <md-icon md-menu-origin md-font-set="material-icons"> arrow_drop_down </md-icon>
	                        </md-button>

	                        <md-menu-content width="3">
	                            <md-menu-item>

	                                <md-button aria-label="Settings" ui-sref="dashboard.users.profile">
	                                    <md-icon md-font-set="material-icons" md-menu-align-target> person_pin </md-icon>
	                                    Perfil
	                                </md-button>

	                            </md-menu-item>
	                            <md-menu-item>
	                                
	                                <md-button ng-click="ctrlMain.show_settings_themes()" aria-label="Settings" >
	                                    <md-icon md-font-set="material-icons" md-menu-align-target> settings </md-icon>
	                                    Configuración
	                                </md-button>

	                            </md-menu-item>
	                            <md-menu-divider></md-menu-divider>

	                            <md-menu-item>
	                                
	                                <md-button ng-click="showSearch = !showSearch" 
	                                			aria-label="Settings" 
	                                			ui-sref="login">
	                                    <md-icon md-font-set="material-icons" md-menu-align-target> power_settings_new </md-icon>
	                                    Salir
	                                </md-button>

	                            </md-menu-item>

	                        </md-menu-content>
	                    </md-menu>
                    </div> 
                </div>



            </md-toolbar>
            
            <md-content>

                <md-list flex>

                    <md-list-item ng-click="expression">
                        <md-icon md-font-set="material-icons"> code </md-icon>
                        <p> Snipes </p>
                    </md-list-item>

                    <md-list-item ng-click="expression">
                        <md-icon md-font-set="material-icons"> dvr </md-icon>
                        <p> Editor de Código </p>
                    </md-list-item>

                    <md-list-item ng-click="expression">
                        <md-icon md-font-set="material-icons"> note </md-icon>
                        <p> Notas </p>
                    </md-list-item>

                    <md-list-item ng-click="expression">
                        <md-icon md-font-set="material-icons"> web </md-icon>
                        <p> Webs </p>
                        <md-switch class="md-secondary" ng-model="list_web_m" ng-change="list_webs = !list_webs"></md-switch>
                    </md-list-item>
                    <md-subheader class="md-no-sticky" ng-show="list_webs">Lista de Webs recientes</md-subheader>                
                    <md-list-item class="md-2-line" ng-show="list_webs">
                        <div class="md-list-item-text">
                            <h3> Google </h3>
                            <p> Buscar información en la web </p>
                        </div>
                        <md-button class="md-secondary md-icon-button" 
                               aria-label="link"
                               ng-click="expression">
                            <md-icon md-font-set="material-icons"> link </md-icon>
                        </md-button>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-show="list_webs">
                        <div class="md-list-item-text">
                            <h3> Youtube </h3>
                            <p> Ver videos educativos de programación Web </p>
                        </div>
                        <md-button class="md-secondary md-icon-button" 
                               aria-label="link"
                               ng-click="expression">
                            <md-icon md-font-set="material-icons"> link </md-icon>
                        </md-button>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-show="list_webs">
                        <div class="md-list-item-text">
                            <h3> codea </h3>
                            <p> Blog de post de programación, nuevas tecnologías </p>
                        </div>
                        <md-button class="md-secondary md-icon-button" 
                               aria-label="link"
                               ng-click="expression">
                            <md-icon md-font-set="material-icons"> link </md-icon>
                        </md-button>
                    </md-list-item>
                    <md-divider></md-divider>

                    <md-divider></md-divider>

                    <md-subheader class="md-no-sticky">Etiquetas</md-subheader>
                    <md-list-item>
                        <p>Listar Todas las Etiquetas</p>
                        <md-switch class="md-secondary" ng-model="label_most_m" ng-change="label_most = !label_most"></md-switch>
                    </md-list-item>  
                    <md-list-item ng-click="expression">
                        <md-icon md-font-set="material-icons"> label_outline </md-icon>
                        <p> Python </p>
                    </md-list-item>      
                    <md-list-item ng-click="expression">
                        <md-icon md-font-set="material-icons"> label_outline </md-icon>
                        <p> Django </p>
                    </md-list-item>
                    <md-list-item ng-click="expression">
                        <md-icon md-font-set="material-icons"> label_outline </md-icon>
                        <p> JavaScript </p>
                    </md-list-item>  
                    <!-- demo para la lista completa de etiquetas -->
                    <md-list-item ng-click="expression" ng-show="label_most">
                        <md-icon md-font-set="material-icons"> label_outline </md-icon>
                        <p> AngularJS </p>
                    </md-list-item> 
                    <md-list-item ng-click="expression" ng-show="label_most">
                        <md-icon md-font-set="material-icons"> label_outline </md-icon>
                        <p> Gulp </p>
                    </md-list-item> 
                    <md-list-item ng-click="expression" ng-show="label_most">
                        <md-icon md-font-set="material-icons"> label_outline </md-icon>
                        <p> Sublime Text </p>
                    </md-list-item> 

                    <md-divider></md-divider>           

                    <md-subheader class="md-no-sticky">Archivador</md-subheader>
                    <md-list-item ng-click="expression">
                        <md-icon md-font-set="material-icons"> delete_sweep </md-icon>
                        <p> Papelera </p>
                    </md-list-item>
                    <md-list-item ng-click="expression">
                        <md-icon md-font-set="material-icons"> gradient </md-icon>
                        <p> Borrador </p>
                    </md-list-item>


                </md-list>           

            </md-content>

        </md-sidenav>

        <md-content flex>                      

             <!-- toobar -->
            <md-toolbar ng-show="!showSearch">
                <div class="md-toolbar-tools">
                    <md-button ng-click="ctrlMain.toggleLeft()" aria-label="Settings"  class="md-icon-button" hide-gt-md> <!-- -->
                        <md-tooltip md-direction="bottom" hide-xs hide-sm hide-md>Menú Principal</md-tooltip>
                        <md-icon md-font-set="material-icons"> menu </md-icon>
                    </md-button>
                    <md-button ng-click="mostar = !mostar" aria-label="Back" class="md-icon-button" hide-xs hide-sm hide-md>
                        <md-tooltip md-direction="bottom" hide-xs hide-sm>{{ mostar ? 'Mostrar Menú Principal' : 'Ocultar Menú Principal' }}</md-tooltip>
                        <md-icon md-font-set="material-icons" ng-show="!mostar"> chevron_left </md-icon>
                        <md-icon md-font-set="material-icons" ng-show="mostar"> chevron_right </md-icon>
                    </md-button>

                    <span flex></span>

                    <md-button ng-click="view_stream = !view_stream" 
                               class="md-icon-button" 
                               aria-label="view_stream" hide-xs hide-sm hide-md> 
                        <md-tooltip md-direction="bottom" hide-xs hide-sm hide-md>{{ view_stream ? 'Vista de Cuadricula' : 'Vista de Lista' }}</md-tooltip>

                        <md-icon md-font-set="material-icons" ng-show="!view_stream"> view_stream </md-icon>
                        <md-icon md-font-set="material-icons" ng-show="view_stream"> view_quilt </md-icon>
                    </md-button>

                    <md-button class="md-icon-button" 
                               aria-label="search"
                               ng-show="ctrlMain.prueba">
                        <md-tooltip md-direction="bottom" hide-xs hide-sm hide-md>Carga Exitosa</md-tooltip>
                        <md-icon md-font-set="material-icons"> cloud_done </md-icon>
                    </md-button>

                    <md-button class="md-icon-button" 
                               aria-label="search"
                               ng-hide="ctrlMain.prueba">
                        <md-progress-circular md-diameter="20px" class="md-hue-1"></md-progress-circular>
                    </md-button>


                    <md-button ng-click="showSearch = !showSearch" 
                               class="md-icon-button" 
                               aria-label="search" >
                        <md-tooltip md-direction="bottom" hide-xs hide-sm hide-md>Buscar Snipes</md-tooltip>
                        <md-icon md-font-set="material-icons"> search </md-icon>
                    </md-button>
                   <span flex="1"></span>
                </div>
            </md-toolbar>

            <md-toolbar class="md-hue-1" ng-show="showSearch">
                <div class="md-toolbar-tools">
                    <md-button class="md-accent" ng-click="showSearch = !showSearch" aria-label="Back"> 
                        <md-icon md-font-set="material-icons"> arrow_back </md-icon>
                    </md-button>

                    <!--<span flex="10" hide-xs hide-sm hide-md>
                        Volver
                    </span> -->

                    <md-button class="md-accent" md-no-ink ng-disabled="true" aria-label="search" hide-xs hide-sm hide-md>
                        Volver
                    </md-button>                                     
                        
                    <form ng-submit="$event.preventDefault()" flex>
                      <md-autocomplete
                          ng-disabled="ctrlMain.isDisabled"
                          md-no-cache="ctrlMain.noCache"
                          md-selected-item="ctrlMain.selectedItem"
                          md-search-text-change="ctrlMain.searchTextChange(ctrlMain.searchText)"
                          md-search-text="ctrlMain.searchText"
                          md-selected-item-change="ctrlMain.selectedItemChange(item)"
                          md-items="item in ctrlMain.querySearch(ctrlMain.searchText)"
                          md-item-text="item.display"
                          md-min-length="0"
                          placeholder="Buscar Snipes">
                        <md-item-template>
                          <span md-highlight-text="ctrlMain.searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                          No se encontró "{{ctrlMain.searchText}}" No hay resultados.
                          <a ng-click="ctrlMain.newState(ctrlMain.searchText)">Create a new one!</a>
                        </md-not-found>
                      </md-autocomplete>      

                    </form>                     
       
                </div>

            </md-toolbar>



            <md-content layout-padding layout-wrap>
                <div ui-view md-theme="{{ dynamicTheme }}" md-theme-watch>
                
                </div>                
            </md-content>         
       
            <!-- boton Fab -->
            <div class="lock-size" layout="row" layout-align="end center">
                <md-fab-speed-dial md-open="false" md-direction="up"
                    class="md-scale">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab">
                            <md-icon md-font-set="material-icons"> add </md-icon>
                        </md-button>
                    </md-fab-trigger>

                    <md-fab-actions>
                        <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                            <md-tooltip md-direction="left" hide-xs hide-sm hide-md>Nuevo Snipet</md-tooltip>
                            <md-icon md-font-set="material-icons"> code </md-icon>
                        </md-button>
                        <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                            <md-tooltip md-direction="left" hide-xs hide-sm hide-md>Nueva Carpeta</md-tooltip>
                            <md-icon md-font-set="material-icons"> create_new_folder </md-icon>                            
                        </md-button>
                        <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini" ng-click="ctrlMain.showLables()">
                            <md-tooltip md-direction="left" hide-xs hide-sm hide-md>Nueva Etiqueta</md-tooltip>
                            <md-icon md-font-set="material-icons"> label </md-icon>
                        </md-button> 
                        <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                            <md-tooltip md-direction="left" hide-xs hide-sm hide-md>Nueva Nota</md-tooltip>
                            <md-icon md-font-set="material-icons"> note </md-icon>
                        </md-button>

                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>     
            <!-- Fin boton Fab -->

        </md-content>

    </div>

</div>