<md-dialog aria-label="" flex="30" layout="column">
  <form ng-cloak>

    <md-dialog-content>
      <div class="md-dialog-content">

        <div ng-cloak layout="row">

            <div flex="35" layout="row">
                <div flex layout="row" layout-align="center center"
                class="demo-swipe">
                    <md-button class="md-icon-button" aria-label="label"> 
                        <md-icon md-menu-origin md-font-set="material-icons" style="font-size: 30px"> label </md-icon>
                    </md-button>
                </div>
            </div>
          
        </div>
        
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       cancelar
      </md-button>
      <md-button ng-click="answer('useful')">
        Crear
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>