<md-dialog aria-label="" flex="40" layout="column">
    
    <!--<div layout="row">

        <div>
            <span class="md-headline">Configuracion</span>
        </div>

        <span flex></span>
  
         <md-button aria-label="Settings"  class="md-icon-button">
            <md-icon md-font-set="material-icons"> clear </md-icon>
        </md-button>
    </div>-->

    <md-dialog-content>
            <md-card flex style="margin: 0px 0px 15px 0px">
            <md-card-title>
              <md-card-title-text>
                <div layout="row"> 
                    <span class="md-headline">Configuracion</span>
                    <span flex></span>
                    <md-button aria-label="cancel" class="md-icon-button" ng-click="ctrlSettings.cancel()">
                        <md-icon md-font-set="material-icons"> clear </md-icon>
                    </md-button>
                </div>
              </md-card-title-text>
            </md-card-title>
             <md-card-content>

                <div ng-cloak layout="row">

                    <div flex="35" layout="row">
                        <div flex layout="row" layout-align="center center"
                             class="demo-swipe">
                        <img class="user-avatar" height="110" width="110" display="block"  ng-src="../../assets/img/black.png" alt="avatar">
                        </div>
                    </div>

                      <div flex>
                        <div class="demo-swipe">
                          <span class="no-select">Jorge Luis Calleja Alvarado</span>
                        </div>
                        <div class="demo-swipe">
                          <span class="no-select md-subhead description">Desarrollador Web</span>
                        </div>
                        <span class="md-subhead">codea.jorge@gmail.com</span>

                        <div flex layout="row">
                            <div flex layout="row" layout-align="start center">
                                <md-button class="md-raised md-accent">Cambiar Imagen</md-button>
                            </div>

                            <div flex layout="row" layout-align="start center">
                                <md-button md-no-ink class="md-primary" ng-click="ctrlSettings.showEdit($event)">Editar</md-button>
                            </div>
                        </div>

                      </div>

                </div>


             </md-card-content>

          </md-card>

          <md-card flex style="margin: 0px">

            <md-card-content>
                
                <md-list>
                    <!--<md-subheader class="md-no-sticky">Temas</md-subheader>-->
                    <span class="md-subhead">Información</span>
                    
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <p> Numero : 7541088084 </p>
                            <p> Nombre de Usuario : @Codea </p>
                            <p> link : <a class="md-accent" href="https://bitbucket.org/codea_jorge/">https://bitbucket.org/codea_jorge</a> </p>
                        </div>
                    </md-list-item>
                  
                </md-list>

                 <md-list>
                    <!--<md-subheader class="md-no-sticky">Temas</md-subheader>-->
                    <span class="md-subhead">Temas</span>
                    <md-list-item ng-click="expression">
                        <md-icon md-font-set="material-icons"> format_paint </md-icon>
                        <p> Por defecto </p>
                        <md-switch class="md-secondary" ng-model="defecto" ng-change="ctrlSettings.defaultTheme()"></md-switch>
                    </md-list-item>

                    <md-list-item ng-click="expression">
                        <md-icon md-font-set="material-icons"> format_paint </md-icon>
                        <p> Django </p>
                        <md-switch class="md-secondary" ng-model="django2" ng-change="ctrlSettings.selectTheme(object = {'name': 'django', 'id': 2})"></md-switch>
                    </md-list-item>

                    <md-list-item ng-click="expression">
                        <md-icon md-font-set="material-icons"> format_paint </md-icon>
                        <p> JavaScript </p>
                        <md-switch class="md-secondary" ng-model="js" ng-change="expression"></md-switch>
                    </md-list-item>

                    <md-list-item ng-click="expression">
                        <md-icon md-font-set="material-icons"> format_paint </md-icon>
                        <p> Angular </p>
                        <md-switch class="md-secondary" ng-model="angular" ng-change="expression"></md-switch>
                    </md-list-item>
                  
                </md-list>

             </md-card-content>
          </md-card>

    </md-dialog-content>

</md-dialog>