.user-avatar {
  border-radius: 99%;
}


/** Btn Acent*/

.md-accent-btn-1{
	color: #69F0AE;
}

/** eliminar la decarancion pordefecto */
a {
    text-decoration: none;
    font-weight: 400;
    -webkit-transition: border-bottom 0.35s;
    transition: border-bottom 0.35s;
}

md-fab-speed-dial {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/** hover para la list-item 
md-list-item[ng-click]:hover{
	cursor: pointer;
}*/

 /* redes sociales */
 .codea_social_twitter{
   color: #9AA1A6 !important;
   transition-duration: 1.5s;
 }
 .codea_social_twitter:hover{
   color: #42a5f5 !important;
 }
 .codea_social_google_plus{
   color: #9AA1A6 !important;
   transition-duration: 1.5s;
 }
 .codea_social_google_plus:hover{
   color: #ef5350 !important;
 }
.codea_social_github{
  color: #9AA1A6 !important;
  transition-duration: 1.5s;
}
.codea_social_github:hover{
  color: #212121 !important;
}
.codea_social_stack{
  color: #9AA1A6 !important;
  transition-duration: 1.5s;
}
.codea_social_stack:hover{
  color: #ffa726 !important;
}

.edi-button-codea {
    /*position: absolute;*/
    top: 25px;
    right: 10px;
}